<h2>Blockchain v1.0</h2>





<div class="container" style="overflow-x: scroll; white-space: nowrap;">
  <div class="card" *ngFor="let block of blockchain" id="blockchainCard">
    <div class="card-body">
      <h5 class="card-title">Block {{ block.position }} <small class="text-muted" *ngIf="block.prev_hash === '' ">(Genesis block)</small></h5>
      <ul class="list-group list-group-flush">
        
        
        <li class="list-group-item">
          <span class="">Hash</span>
          <br>
          <div class="form-group">
            <textarea class="form-control"  rows="2" style="word-wrap: break-word; resize: none;" disabled>{{ block.hash }}</textarea>
          </div>
          
          <br>
          <span class="">Previous Hash</span>
          <br>
          
          <div class="form-group">
            <textarea class="form-control"  rows="2" style="word-wrap: break-word; resize: none;" disabled *ngIf="block.prev_hash != '' ">{{ block.prev_hash }} </textarea> 
            <textarea class="form-control"  rows="2" style="word-wrap: break-word; resize: none;" disabled *ngIf="block.prev_hash === '' "> - </textarea> 
          </div>
        </li>
        
        <li class="list-group-item">
          <span class="">Data</span><br>
          <div class="form-group">
            <textarea class="form-control"  rows="3" style="word-wrap: break-word; resize: none;" disabled *ngIf="block.prev_hash != '' ">{{ block.data.content }}</textarea> 
            <textarea class="form-control"  rows="3" style="word-wrap: break-word; resize: none;" disabled *ngIf="block.prev_hash === '' ">-</textarea> 
          </div>
        </li>
        
        <li class="list-group-item">
          <span class="">Timestamp</span><br>
          <div class="text-truncate text-muted">
            <small>{{ block.timestamp }}</small>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>



<div class="card">
  <div class="card-body">
    <form (ngSubmit) = "onCreate()">
      <div class="form-group">
        <label> Data </label>
        <textarea type="text" class="form-control" id="blockData" 
        [(ngModel)] = "dataform.data" name="data" style="resize: none;">
      </textarea>
    </div>
    <br>
      <div class="d-flex flex-row justify-content-center">
        <button (click)="onStart()" type="button" class="btn btn-primary btn-lg" style="margin-right: 5em;">Start</button>
        <button  type="submit" class="btn btn-success btn-lg">Create New</button>
  
      </div>
    </form>
</div>
</div>
<br>
<br>

