<h2>Blockchain v1.0</h2>

<button (click)="onStart()" type="button" class="btn btn-primary btn-lg" id="onStartButton">Start</button>


    <div class="hstack gap-3 col mb-4"  >
      <div class="card border-success" *ngFor="let block of blockchain" style="width: 30rem;">
        <div class="card-body " >
          <form>
            <div class="form-group">
              <label for="blockPosition"> Position </label>
              <input type="text" class="form-control" id="blockPosition" value="{{block.position}}" disabled>
              <label for="blockData" >Data</label>
              <textarea type="text" class="form-control" id="blockData" rows="3" style="resize:none;" value="{{block.data.content}}" disabled></textarea>
              <label for="blockTimestamp">Timestamp</label>
              <input type="text" class="form-control" id="blockTimestamp"  value="{{block.timestamp}}" disabled>
              <label for="blockHash">Hash</label>
              <textarea type="text" class="form-control" id="blockHash" rows="2" style="resize:none;"value="{{block.hash}}" disabled></textarea>
              <label for="blockPrevHash">Previous Hash</label>
              <textarea type="text" class="form-control" id="blockPrevHash" rows="2" style="resize:none;"value="{{block.prev_hash}}" disabled></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>





<br><br>
<div class="card" >
  <div class="card-body">
    <form (ngSubmit) = "onCreate()">
      <div class="form-group">
        <label> Data </label>
          <input type="text" class="form-control" id="blockData" 
                [(ngModel)] = "dataform.data" name="data">
      </div>
      <br>
      <button  type="submit" class="btn btn-success btn-lg">Create New</button>
    </form>
  </div>
</div>
